
<select class="rounded" name="country">
    <option name="Uzbekistan">Uzbekistan</option>
    <option name="English">English</option>
    <option name="Russia">Russia</option>
    <option name="Africa">Africa</option>
    <option name="Kazakhstan">Kazakhstan</option>
    <option name="Tojikistan">Tojikistan</option>
    <option name="Azerbayjan">Azerbayjan</option>
    <option name="Turkmenistan">Turkmenistan</option>
    <option name="Pokistan">Pokistan</option>
</select>