<%- include("head")%>
    <div class="d-flex justify-content-center p-5 ">
        <form class="w-50" action="/login" method="post">
            <!-- Name input -->
            <div class="form-outline mb-4">
                <input type="text" id="name" name="name" class="form-control" />
                <label class="form-label" for="name">Name</label>
            </div>
            <!-- Lastname input -->
            <div class="form-outline mb-4">
                <input type="text" id="name" name="lastname" class="form-control" />
                <label class="form-label" for="name">Lastname</label>
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="email" name="email" class="form-control" />
                <label class="form-label" for="email">Email address</label>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="password" name="password" class="form-control" />
                <label class="form-label" for="password">Password</label>
            </div>
            <button type="submit" class=" btn btn-primary btn-block mb-4">Sign in</button>

            <div class="text-center">
                <p>Not a member? <a style="text-decoration:none" href="/register">Register</a></p>
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                </button>
            </div>
        </form>
    </div>
    <%- include("footer")%>